# Virtual environment
venv/

# Tests
tests/
test.txt

# Flask session files (server-side sessions)
flask_session/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Compiled files
*.pyc