{% extends 'layout.html' %}

{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="">
            <form action="/addscore" method="post">
                <fieldset>
                    <legend>Add Score</legend>
                    <div class="mb-3">
                        <label for="winner" class="form-label">Winner Name</label>
                        <select class="form-select" name="winner" required>
                            <option value="" disabled selected>Select winner</option>
                            {% for user in users %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="loser" class="form-label">Loser Name</label>
                        <select class="form-select" name="loser" required>
                            <option value="" disabled selected>Select loser</option>
                            {% for user in users %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="score" class="form-label">Score</label>
                        <input class="form-control" autocomplete="off" required name="score" type="text" placeholder="e.g., 2-1">
                    </div>
                    
                    <a style="color: rgb(255, 90, 61); text-decoration: none;" href="/">Cancel</a>
                    <button class="btn btn-primary" type="submit">Add score</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}