{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5 pt-5">
    <div>
        <h1>Admin Panel</h1>
        <p>Manage users and match records</p>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
        {% endfor %}
    </div>
    <p class="d-inline-flex gap-1 bg-secondary rounded-pill d-flex justify-content-evenly">
        <button id="ap-user-btn" class="btn bg-light ms-1 my-1 rounded-pill border-secondary" type="button">
           <i class="bi bi-people"></i> User
        </button>
        <button id="ap-matches-btn" class="btn me-1 my-1 rounded-pill border-secondary" type="button">
            <i class="bi bi-trophy"></i> Matches
        </button>
    </p>
        <div class="" style="display:block;" id="userPanel">
            <div class="p-4 border border-secondary rounded">
                <h5>Create New User</h5>
                <p>Add a new user to the system</p>
                <form action="/adduser" method="post">
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label">Username</label>
                            <input class="form-control" autocomplete="off" autofocus required name="username" type="text"/>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Password</label>
                            <input class="form-control" autocomplete="off" required name="password" type="password"/>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label">Email</label>
                            <input class="form-control" autocomplete="off" required name="email" type="text"/>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Role</label>
                            <select class="form-select" required name="role">
                                <option value="admin">Admin</option>
                                <option value="moderator">Moderator</option>
                                <option selected value="user">User</option>
                                <option value="guest">Guest</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-light mt-3" type="submit">Create User</button>
                </form>
            </div>

            <div class="table-responsive mt-2 p-4 border border-secondary rounded">
                <h5>User List</h5>
                <p>Manage all users in the system</p>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <form class="d-inline" action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
                                    <button class="btn btn-dark btn-sm">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                                <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal{{ user.id }}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <div class="modal fade" id="editUserModal{{ user.id }}" tabindex="-1" aria-labelledby="editUserLabel{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <form action="{{ url_for('edit_user', user_id=user.id) }}" method="POST">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="editUserLabel{{ user.id }}">Edit User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control" name="username" value="{{ user.username }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" name="email" value="{{ user.email }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Role</label>
                                        <select class="form-select" name="role" required>
                                        <option value="admin" {% if user.role=='admin' %}selected{% endif %}>Admin</option>
                                        <option value="moderator" {% if user.role=='moderator' %}selected{% endif %}>Moderator</option>
                                        <option value="user" {% if user.role=='user' %}selected{% endif %}>User</option>
                                        <option value="guest" {% if user.role=='guest' %}selected{% endif %}>Guest</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        <div style="display: none;" class="" id="matchesPanel">
            <div class="p-4 border border-secondary rounded">
                <h5>Create New Match</h5>
                <p>Record a new match result</p>
                <form action="/addscore" method="post">
                    <div class="row g-3">
                        <div class="col-4">
                            <label class="form-label" for="winner">Winner</label>
                             <select class="form-select" name="winner" required>
                                <option value="" disabled selected>Select winner</option>
                                {% for user in users %}
                                    <option value="{{ user.username }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="loser">Loser</label>
                            <select class="form-select" name="loser" required>
                                <option value="" disabled selected>Select loser</option>
                                {% for user in users %}
                                    <option value="{{ user.username }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="score">Score</label>
                            <input class="form-control" name="score" required placeholder="e.g., 3-1"/>
                        </div>
                    </div>
                
                    <button class="btn btn-light mt-3" type="submit">Create Match</button>
                </form>
            </div>

            <div class="table-responsive mt-2 p-4 border border-secondary rounded">
                <h5>Matches List</h5>
                <p>View and manage all match records</p>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Winner</th>
                            <th>Loser</th>
                            <th>Score</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td><i class="bi bi-trophy"></i> {{ match.winner.username|capitalize }}</td>
                            <td>{{ match.loser.username|capitalize }}</td>
                            <td>{{ match.score}}</td>
                            <td>
                                <form class="d-inline" action="{{ url_for('delete_match', match_id=match.id) }}" method="POST">
                                    <button class="btn btn-dark btn-sm">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                                <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#editMatchModal-{{ match.id }}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                        <div class="modal fade" id="editMatchModal-{{ match.id }}" tabindex="-1" aria-labelledby="editMatchLabel-{{ match.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="{{ url_for('edit_match', match_id=match.id) }}" method="POST">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="editMatchLabel-{{ match.id }}">Edit Match</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label">Winner</label>
                                                <select class="form-select" name="winner" required>
                                                    {% for user in users %}
                                                        <option value="{{ user.id }}" {% if user.id == match.winner_id %}selected{% endif %}>
                                                            {{ user.username }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Loser</label>
                                                <select class="form-select" name="loser" required>
                                                    {% for user in users %}
                                                        <option value="{{ user.id }}" {% if user.id == match.loser_id %}selected{% endif %}>
                                                            {{ user.username }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Score</label>
                                                <input type="text" class="form-control" name="score" value="{{ match.score }}" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    
</div>


<script>
    const apUserBtn = document.querySelector('#ap-user-btn');
    const apMatchesBtn = document.querySelector('#ap-matches-btn');
    const userPanel = document.querySelector('#userPanel');
    const matchesPanel = document.querySelector('#matchesPanel');

    apUserBtn.addEventListener("click", () => {
        userPanel.style.display = 'block';
        matchesPanel.style.display = 'none';
        history.replaceState(null, null, '#userPanel');
        apUserBtn.classList.add('bg-light', 'text-dark');
        apMatchesBtn.classList.remove('bg-light', 'text-dark');
    });

    apMatchesBtn.addEventListener("click", () => {
        userPanel.style.display = 'none';
        matchesPanel.style.display = 'block';
        history.replaceState(null, null, '#matchesPanel');
        apMatchesBtn.classList.add('bg-light', 'text-dark');
        apUserBtn.classList.remove('bg-light', 'text-dark');
    });

    window.addEventListener('DOMContentLoaded', () => {
        if (window.location.hash === '#matchesPanel') {
            apMatchesBtn.click();
        } else if (window.location.hash === '#userPanel') {
            apUserBtn.click();
        }
    });
</script>


    
{% endblock %}