{% extends 'layout.html' %}

{% block body %}
    <h1>Dart Score Tracker</h1>
    {% if user_id %}
        <p>You are logged in as {{ user_name.capitalize() }}. <a href="/logout">Log out</a>.</p>
        <p>Go to profile <a href="/profile">page</a>.</p>
        <h3>Latest Matches</h3>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    {% else %}
        You are not logged in. <a href="/login">Log in</a>.
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            getMatches();
        });

        async function getMatches(){
            let response = await fetch('/matches');
            let matches = await response.json();
            let html = '';
            for (let match of matches) {
                html += `
                <tr>
                    <td>${match.winner}</td>
                    <td>${match.loser}</td>
                    <td>${match.score}</td>
                    <td>${match.date}</td>
                </tr>
                `
            }
            document.querySelector('tbody').innerHTML = html;
        }
    </script>
{% endblock %}