{% extends 'layout.html' %}

{% block body %}
<div class="container mt-5 pt-5 d-flex align-items-center justify-content-center flex-column">
    <h1>Dart Score Tracker</h1>
    {% if user_id %}
    <span>You are logged in as {{ user_name.capitalize() }}.</span>
    <h3 class="mt-5 mb-3 mx-4">Latest Matches</h3>
    <table class="table table-striped table-dark table-hover border-top" style="max-height: 400px;">
        <thead class="text-center">
            <tr>
                <th>Winner</th>
                <th>Loser</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody class="text-center">
            
        </tbody>
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            getMatches();
        });

        async function getMatches() {
            try {
                const response = await fetch('/matches');

                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData.error || 'Failed to fetch matches.');
                }

                const matches = await response.json();
                
                matches.reverse()
                
                let html = '';
                for (let match of matches) {
                    html += `
                        <tr>
                            <td>${match.winner || 'N/A'}</td>
                            <td>${match.loser || 'N/A'}</td>
                            <td>${match.score}</td>
                            <td>${match.date}</td>
                        </tr>
                    `;
                }
                document.querySelector('tbody').innerHTML = html;
            } catch (error) {
                document.querySelector('tbody').innerHTML = `
                    <tr><td colspan="4">Error loading matches: ${error.message}</td></tr>
                `;
                console.error('Error fetching matches:', error);
            }
        }
    </script>
    {% else %}
        <span>Click <a href="/login">here</a> to login.</span>
    {% endif %}
</div>
{% endblock %}
