{% extends 'layout.html' %}

{% block body %}
<div class="vh-100 d-flex align-items-center justify-content-center">
    <section class="border border-secondary rounded shadow d-flex py-5 h-50 w-100 align-items-center flex-column">
        <div>
            <h2>{{ user.username|capitalize }}</h2>
            <p>Player Profile</p>
        </div>
        <span><a href="/">Home</a> / <a href="/logout">Log out</a></span>
        <ul class="m-3 w-75">
            <div class="border-bottom border-secondary">
                <li><strong>{{ user.wins * 3  }}</strong></li>
                <p>Total Score</p>
            </div>
            <li>Games Played: {{ user.games_played }}</li>
            
            <li>Wins: {{ user.wins }}</li>
            <li>Losses: {{ user.losses }}</li>
        </ul>
    </section>
</div>
    
{% endblock %}