{% extends 'layout.html' %}

{% block body %}
<div class="mt-5 pt-5 container d-flex flex-column justify-content-center align-items-center">
    <h1>Scoreboard</h1>
    <table class="mt-2 table table-dark table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Matches</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Viktor</td>
                <td>48</td>
                <td>5</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Eddie</td>
                <td>12</td>
                <td>5</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>
    
{% endblock %}